@import "./default.css";

.wrapper {
  display: flex;
  min-height: inherit;
}

.page-content {
  flex: 1;

  display: grid;
  gap: 50px;

  /* justify-content: space-between; */
  max-width: calc(1700px + 16px * 2);
  width: 100%;
  height: 100%;

  padding-inline: 16px;
  margin-inline: auto;
  padding-bottom: 36px;
}

.page-content__wrapper {
  display: grid;
  place-items: center;

  gap: 50px;

  padding-inline: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  /* margin: 36px 50px; */
  position: sticky;
  top: 0;
  background-color: hsla(285, 100%, 98%, 0.85);
  backdrop-filter: blur(6px);
  padding-block: 36px 20px;
  padding-inline: 10px;
}

.search-input {
  background-color: white;
  width: 600px;
  border-radius: 28px;
  box-shadow: 0px 8px 24px rgba(103, 80, 164, 0.15);
}

.search-input input {
  width: 600px;
  border-radius: 28px;
  padding: 18px 24px;
}

.search-input input:focus {
  outline: none;
}

.header-title {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 32px;
}

.header-text {
}

.header-text-name {
  color: #6024cd;
}

.header-navigation {
  background-color: white;
  border-radius: 1000px;
  box-shadow: 0px 8px 24px rgba(103, 80, 164, 0.15);
  display: flex;
  align-items: center;
}

.header-navigation-item {
  padding: 0px 16px;
}

.menu {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
  gap: 40px;
  padding: 10px 0px;
}

.sidebar {
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;

  padding: 36px 30px;
}

.title {
  font-size: 32px;
}

.section {
  width: 100%;
  padding: 40px;
  border-radius: 28px;
  background-color: white;
  box-shadow: 0px 8px 24px rgba(103, 80, 164, 0.15);
}

.section.w-auto {
  width: auto;
}

.section-header {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 36px;
}

.section-title {
  font-size: 32px;
}

.section-title.medium {
  font-size: 24px;
}

.section-content {
  display: flex;
  flex-direction: column;
  gap: 45px;
}